* {
    margin: 0;
    padding: 0;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock__face {
    border: solid 5px #d3d3d3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 1px;
}

.clock__hand {
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    background-color: #000;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: 0.05s;
    transition-timing-function: cubic-bezier(0.34, 0.19, 0.76, 1.21);
}

.clock__hour {
    width: 35%;
    right: 50%;
}

.clock__minutes {
    width: 45%;
    right: 50%;
}

.clock__seconds {
    height: 1px;
    background-color: #bd2420;
}